<footer class="ui bottom attached inverted segment equal width stackable grid">
	<div class="column">
		<div class="ui list">
			<div class="item">
				<i class="crow icon"></i>
				<div class="content">Tidy Elections is made by <a href="https://guushoekman.com">Guus Hoekman</a></div>
			</div>
			<div class="item">
				<i class="creative commons icon"></i>
				<div class="content">Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 License</a></div>
			</div>
			<div class="item">
				<i class="gitlab icon"></i>
				<div class="content">The source code is <a href="https://gitlab.com/guushoekman/tidy-elections">available on GitLab</a></div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui list">
			<div class="item">
				<i class="vote yea icon"></i>
				<div class="content">
					<a href="/">Home</a>
				</div>
			</div>
			<div class="item">
				<i class="info circle icon"></i>
				<div class="content">
					<a href="/about.html">About</a>
				</div>
			</div>
			<div class="item">
				<i class="person booth icon"></i>
				<div class="content">
					<a href="/elections.html">All elections</a>
				</div>
			</div>
			<div class="item">
				<i class="hands helping icon"></i>
				<div class="content">
					<a href="https://gitlab.com/guushoekman/tidy-elections/blob/master/CONTRIBUTING.md">Contribute</a>
				</div>
			</div>
			<div class="item">
				<i class="exclamation triangle icon"></i>
				<div class="content">
					<a href="https://gitlab.com/guushoekman/tidy-elections/issues">Correct a mistake</a>
				</div>
			</div>
		</div>
	</div>
</footer>