<nav class="ui visible left vertical menu sidebar negative-margin">
  <a class="item" href="/"><h1><i class="vote yea icon"></i> Tidy Elections</h1></a>
  <a class="item" href="/elections.html">
    <i class="person booth icon"></i>
    Elections
  </a>
  <a class="item" href="/about.html">
    <i class="info circle icon"></i>
    About
  </a>
  <a class="item" href="https://gitlab.com/guushoekman/tidy-elections/blob/master/CONTRIBUTING.md" target="_blank">
    <i class="hands helping icon"></i>
    Contribute
  </a>
  <a class="item" href="https://gitlab.com/guushoekman/tidy-elections/issues" target="_blank">
    <i class="exclamation triangle icon"></i>
    Correct a mistake
  </a>
  <a class="item" href="https://gitlab.com/guushoekman/tidy-elections" target="_blank">
    <i class="gitlab icon"></i>
    Source code
  </a>
</nav>

<nav class="ui top attached menu">
  <a class="icon item toggle-sidebar show-mobile">
    <i class="content icon"></i>
  </a>
	<a class="item logo show-mobile" href="/">
    <i class="vote yea icon"></i> Tidy Elections
	</a>
  <a class="item" href="/elections.html">
    <i class="person booth icon"></i> All elections
  </a>
  <div class="ui dropdown item">
    <i class="calendar icon"></i> By date
    <div class="menu">
    	{% assign electionsByYear = site.elections | sort: 'date' | group_by_exp:"election", "election.date | date: '%Y'" %}
    	{% for year in electionsByYear %}
  	    <div class="item">
		      <i class="dropdown icon"></i> {{ year.name }}
	      	<div class="menu">
    	      {% for election in year.items %}
    	        <a class="item" href="{{ election.url }}">{{ election.title }}</a>
    	      {% endfor %}
	      	</div>
		    </div>
    	{% endfor %}
	  </div>
  </div>

  <div class="ui dropdown item">
    <i class="flag icon"></i> By country
    <div class="menu">
    	{% assign electionsByCountry = site.elections | sort: 'country' | group_by:"country" %}
    	{% for country in electionsByCountry %}
  	    <div class="item">
		      <i class="dropdown icon"></i>{{ country.name }}
	      	<div class="menu">
    	      {% for election in country.items %}
    	        <a class="item" href="{{ election.url }}">{{ election.title }}</a>
    	      {% endfor %}
	      	</div>
		    </div>
    	{% endfor %}
	  </div>
  </div>

  <div class="right menu">
    <a class="item" href="/about.html">
      <i class="info circle icon"></i>
      About
    </a>
    <a class="item" href="https://gitlab.com/guushoekman/tidy-elections/blob/master/CONTRIBUTING.md" target="_blank">
      <i class="hands helping icon"></i>
      Contribute
    </a>
    <a class="item" href="https://gitlab.com/guushoekman/tidy-elections/issues" target="_blank">
      <i class="exclamation triangle icon"></i>
      Correct a mistake
    </a>
    <a class="item" href="https://gitlab.com/guushoekman/tidy-elections" target="_blank">
      <i class="gitlab icon"></i>
      Source code
    </a>
  </div>
</nav>