<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="{{ page.class }}">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js"></script>

    <div class="ui container">
      {% unless page.menu == false %}
        {% include header.html %}
      {% endunless %}

	    {{ content }}

      {% include footer.html %}
      <div class="horizontal-menu-overlay toggle-sidebar"></div>
    </div>

    <script src="/js/site.js"></script>
    {% if page.class == "elections" %}
      <script src="/js/tablesort.js"></script>
      <script>$('table').tablesort();</script>
    {% endif %}
  </body>
</html>