---
layout: base
---
<div class="ui bottom attached stackable celled computer grid single-election">
	<div class="sixteen wide tablet ten wide computer column map-legend">
		<h1 class="title">{{ page.title }}</h1>
		{% include_relative map.svg %}
		<div class="legend-wrapper">
			<table class="legend">
		  	<thead>
		  		<tr>
		  			<th></th>
		  			<th class="center aligned">{{ page.maxpercentage|minus:40 }}%</th>
		  			<th class="center aligned">{{ page.maxpercentage|minus:30 }}%</th>
		  			<th class="center aligned">{{ page.maxpercentage|minus:20 }}%</th>
		  			<th class="center aligned">{{ page.maxpercentage|minus:10 }}%</th>
		  			<th class="center aligned">{{ page.maxpercentage }}%</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  	{% for candidate in page.candidates %}
					<tr data-candidate="{{ candidate.name_short }}">
						<th class="right aligned">
	    	    	{% if page.race == "candidate" %}
	    		    	{{ candidate.name }}
	    	    	{% elsif page.race == "party" %}
	    		    	{{ candidate.party }}
	    	    	{% elsif page.race == "both" %}
	    		    	{{ candidate.party }} | {{ candidate.name }}
	    	    	{% endif %}
						</th>
			  		<td class="legend-cell" data-opacity="{{ page.maxpercentage|minus:40 }}" style="background-color: {{ candidate.color }}"></td>
			  		<td class="legend-cell" data-opacity="{{ page.maxpercentage|minus:30 }}" style="background-color: {{ candidate.color }}"></td>
			  		<td class="legend-cell" data-opacity="{{ page.maxpercentage|minus:20 }}" style="background-color: {{ candidate.color }}"></td>
			  		<td class="legend-cell" data-opacity="{{ page.maxpercentage|minus:10 }}" style="background-color: {{ candidate.color }}"></td>
			  		<td class="legend-cell" style="background-color: {{ candidate.color }}"></td>
					</tr>
		  	{% endfor %}
		  	</tbody>
			</table>
			<div class="date">
				<strong>Election date</strong>: {{ page.date | date: "%d %B %Y" }}
			</div>
		</div>
		<div class="ui active inverted dimmer">
	    <div class="ui text loader">Loading</div>
	  </div>
	</div>
	<div class="sixteen wide tablet six wide computer column metadata">
		<div class="ui long fluid search selection dropdown candidates">
		  <input type="hidden">
		  <i class="dropdown icon"></i>
		  <div class="default text">
	    	{% if page.race == "candidate" %}
		    	Candidate
	    	{% elsif page.race == "party" %}
		    	Party
	    	{% elsif page.race == "both" %}
		    	Party / candidate
	    	{% endif %}
		  </div>
		  <div class="menu">
		    <div class="item" data-value="winner">Winner</div>
	    	{% for candidate in page.candidates %}
		    <div class="item" data-value="{{ candidate.name_short }}">
  	    	{% if page.race == "candidate" %}
  		    	{{ candidate.name }}
  	    	{% elsif page.race == "party" %}
  		    	{{ candidate.party }}
  	    	{% elsif page.race == "both" %}
  		    	{{ candidate.party }} | {{ candidate.name }}
  	    	{% endif %}
		    </div>
	    	{% endfor %}
		  </div>
		</div>
		<div class="ui long fluid search selection dropdown areas">
		  <input type="hidden">
		  <i class="dropdown icon"></i>
		  <div class="default text">{{ page.country }}</div>
		  <div class="menu">
		  </div>
		</div>

		<div class="statistics"></div>
		<div class="buttons">
			<a class="ui small compact labeled icon button" href="{{ page.source }}" target="_blank"><i class="linkify icon"></i>Source</a>
			<a class="ui small compact labeled icon button" href="{{ page.wikipedia }}" target="_blank"><i class="wikipedia icon"></i>Wikipedia</a>
			<a class="ui small compact labeled icon button" href="data.csv"><i class="table icon"></i>Data</a>
			<a class="ui small compact labeled icon button" href="map.svg" download><i class="map icon"></i>Map</a>
		</div>
	</div>
</div>

<script src="data.js"></script>
<script>
	// candidates dropdown
	$(".dropdown.candidates").dropdown({
		onChange: function(value) {
			showCandidate(value)
		}
	});

	// get candidate info from metadata
	var candidates = [
		{% for candidate in page.candidates %}
		{
			name: "{{ candidate.name }}",
			name_short: "{{ candidate.name_short }}",
			party: "{{ candidate.party }}",
			color: "{{ candidate.color }}",
		},
		{% endfor %}
	]

	var areaDropdown = [];

	var opacityHandicap = {{ page.handicap }};

	// add opacity for legend
	$("table.legend .legend-cell[data-opacity]").each(function() {
		var percentage = $(this).data("opacity") / 100;
		var opacity = percentage * opacityHandicap;
		$(this).css("opacity", opacity)
	})

	$(data).each(function() {
		// add data to svg map
		var areaData = this;
		var area = this.Area;
		var winner = this.Winner;

		// add areas to dropdown
		var dropdownData = {
			name: this.Area,
			value: this.Area
		}

		areaDropdown.push(dropdownData);

		// add tables
		var statistics = $("<div class='area-statistics' data-area='" + area + "'><table class='ui very basic unstackable single line table'><thead><tr><th class='candidate-name'>{% if page.race == 'party' %}Party{% else %}Candidate{% endif %}</th><th>Votes</th><th class='percentage-bar'>Percentage</th><th></th></tr></thead><tbody></tbody></table><div class='chart'></div></div>");
		$(statistics).appendTo(".statistics");
		var tbody = $(statistics).find("tbody");
		var chart = $(statistics).find(".chart");

		$(candidates).each(function() {
			var candidate = this.name_short;
			$("svg path[title='" + area + "']").attr(candidate, areaData[candidate]).attr(candidate + "_percent", areaData[candidate + "_percent"]).attr("winner", winner);

			var votePercentage = Number(areaData[candidate + "_percent"] * 100).toFixed(1)

			$("<tr data-candidate='" + candidate + "'><td class='six wide candidate-name'>" + this.name + "</td><td class='five wide votes'>" + (areaData[candidate]).toLocaleString('en') + "</td><td class='five wide percentage-bar'><span class='bar' style='width:" + votePercentage + "%; background-color:" + this.color + "'></span></td><td class='one wide percentage-number'>" + votePercentage + "%</td></tr>").appendTo(tbody)
		});
	})

	// add areas to dropdown work
	$(".dropdown.areas").dropdown({
		onChange: function(value) {
			showArea(value)
		},
		values: areaDropdown
	});

	// add divider after country
	$(".dropdown.candidates .menu .item").first().after("<div class='divider'></div>")
	$(".dropdown.areas .menu .item").first().after("<div class='divider'></div>")

	function showCandidate(candidate) {
		if (candidate == "winner") {
			$("svg path").each(function() {
				var winner = $(this).attr("winner");
				var winnerPercent = $(this).attr(winner + "_percent");
				var winnerCandidate = candidates.find(item => item.name_short === winner);
				var fillOpacity = Number(winnerPercent) * opacityHandicap;
				$(this).css({"fill": winnerCandidate.color, "fill-opacity": fillOpacity});
				if (gottenWinners == false) {
					winners.push(winner)
				}
			});
			if (gottenWinners == false) {
				winners = [...new Set(winners)]
			}
			gottenWinners = true;
			$("table.legend tbody tr").hide();
			$(winners).each(function() {
				$("table.legend tbody tr[data-candidate='" + this + "']").show();
			})
		} else {
			var candidateInfo = candidates.find(item => item.name_short === candidate);
			$("svg path").each(function() {
				var fillOpacity = Number($(this).attr(candidate + "_percent")) * opacityHandicap;
				$(this).css({"fill": candidateInfo.color, "fill-opacity": fillOpacity});
			});
			$("table.legend tbody tr").hide();
			$("table.legend tbody tr[data-candidate='" + candidate + "']").show();
		}
	}

	var winners = [];
	var gottenWinners = false;
	showCandidate("winner");

	function showArea(area) {
		$("svg path").removeClass("active");
		$("svg path[title='" + area + "']").addClass("active").appendTo("svg");
		$(".statistics .area-statistics").removeClass("active");
		$(".statistics .area-statistics[data-area='" + area + "']").addClass("active");
		$(".dropdown.areas").dropdown("set selected", area)
	}

	showArea("{{ page.country }}");
	$(".active.dimmer").remove();

	// select area
	$("svg path").click(function() {
		var area = $(this).attr("title");
		showArea(area);
	})
</script>

